body {
	font-family: 'Dosis', sans-serif;
	color: ghostwhite;
	background-color: black;
}
#title {
	display: none;
}
.index {
	background-image: url(../assets/images/flight3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.bg-flight {
	background-image: url(../assets/images/flight4.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.bg-black {
	background-color: black;
}
.welcome {
	color: ghostwhite;
	position: relative;
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.form-position,.footer {
	position: relative;
}
h1 {
	font-size: 12rem;
}
h3 {
	font-size: 3rem;
}
.modal-content {
	background-color: black;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.welcome {
		top: 50px;
		text-shadow: 1px 1px black;
	}
	#formVuelos {
		font-size: 0.8rem;
	}
	.footer {
		bottom: -400px;
	}
	h1 {
		font-size: 6rem;
	}
	h3 {
		font-size: 2rem;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.welcome {
		top: 50px;
		text-shadow: 2px 2px black;
	}
	#formVuelos {
		font-size: 0.8rem;
	}
	.form-position {
		bottom: 350px;
	}
	h1 {
		font-size: 6rem;
	}
	h3 {
		font-size: 2rem;
	}
}
@media only screen and (min-width: 1024px) {
	.welcome {
		top: 50px;
		text-shadow: 2px 2px black;
}
	.form-position {
		bottom: 500px;
	}
	h1 {
		font-size: 12rem;
	}
	h3 {
		font-size: 3rem;
	}
}